/* JavaFX controls */

.root {
	-fx-background: rgb(34, 34, 34);
}

.tab,
.list-cell:even,
.text-field,
.date-picker-popup > .month-year-pane,
.split-pane-divider,
.scroll-bar,
.scroll-pane,
.corner,
.menu-bar,
.tree-cell,
.context-menu {
	-fx-background-color: rgb(46, 46, 46);
}

.list-cell:odd,
.button,
.titled-pane > .title,
.combo-box .list-cell:hover {
	-fx-background-color: rgb(53, 53, 53);
}

.tab:selected,
.button:hover,
.list-cell:selected,
.tree-cell:selected {
	-fx-background-color: rgb(97, 97, 97);
}

.scroll-bar .thumb {
	-fx-background-color: rgb(128, 128, 128);
}

.tree-cell .arrow {
	-fx-background-color: white;
}
 
.list-cell,
.text-field,
.menu .label,
.tab-label,
.button,
.tree-cell,
.menu-item .label,
.tree-cell .label {
	-fx-text-fill: white;
}

.titled-pane > .title > .text {
	-fx-fill: white;
}

.list-view,
.scroll-bar > .track {
	-fx-padding: 0;
}

/* ControlsFX */

.popover > .content {
	-fx-background-color: rgb(54, 54, 54);
}

.popover > .border {
	-fx-fill: rgb(54, 54, 54) !important;
}

/* TimeTable */

.progress-bar > .bar {
	-fx-background-color: orange;
}

.current-time-indicator {
	-fx-fill: orange;
	-fx-stroke: orange;
}

.task-due-datetime-indicator {
	-fx-fill: yellow;
	-fx-stroke: yellow;
}

.drag-active {
	-fx-background-color: orange;
}

.month-day-weekend {
	-fx-background-color: rgb(68, 68, 68);
}

.week-day {
	-fx-border-style: solid;
	-fx-border-width: 0 1px 0 1px;
	-fx-border-color: rgb(65, 65, 65);
}

.hour-mark {
	-fx-stroke: rgb(65, 65, 65);
}

.entry-cell-label {
	-fx-text-fill: white;
}
