/* JavaFX controls */

.root {
	-fx-background: rgb(34, 34, 34);
}

.tab-label {
	-fx-text-fill: white;
}

.tab {
	-fx-background-color: rgb(46, 46, 46);
}

.tab:selected {
	-fx-background-color: rgb(97, 97, 97);
}

/* TimeTable */

.progress-bar > .bar {
	-fx-background-color: orange;
}

.current-time-indicator {
	-fx-fill: orange;
	-fx-stroke: orange;
}

.drag-active {
	-fx-background-color: orange;
}

.month-day-weekend {
	-fx-background-color: lightgray;
}

.week-day {
	-fx-border-style: solid;
	-fx-border-width: 0 1px 0 1px;
	-fx-border-color: rgb(65, 65, 65);
}

.hour-mark {
	-fx-stroke: rgb(65, 65, 65);
}
