/* TimeTable */

.progress-bar > .bar {
	-fx-background-color: blue;
}

.appointment {
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 5, 0, 0, 0);
}

.current-time-indicator {
	-fx-fill: blue;
	-fx-stroke: blue;
}

.drag-active {
	-fx-background-color: blue;
}

.month-day-weekend {
	-fx-background-color: lightgray;
}

.week-day {
	-fx-border-style: solid;
	-fx-border-color: rgb(224, 224, 224);
}

.hour-mark {
	-fx-stroke: rgb(224, 224, 224);
}
