.progress-bar {
	-fx-background-color: transparent;
}

.progress-bar > .track {
	-fx-background-color: transparent;
}

.progress-bar > .bar {
	-fx-background-color: blue;
	-fx-background-insets: 0 0 0 0;
	-fx-padding: 0.15em;
}

.appointment {
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 5, 0, 0, 0);
}

.current-time-indicator {
	-fx-fill: blue;
	-fx-stroke: blue;
}

.month-day-weekend {
	-fx-background-color: lightgray;
}
